
{{> head }}

<body>
{{> navbar }}
{{> br }}

    <div class="container">
            <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ djk }}</h5>
                          <p class="card-text">Deseas saber cual es la ruta mas corta entre dos puntos?</p>
                          <a href="/djk" class="btn btn-primary">Entra y compruebalo ya!</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ euc }}</h5>
                          <p class="card-text">Deseas determinar el MCD de algunos numeros?</p>
                          <a href="/euc" class="btn btn-primary">Entra y Compruebalo ya!</a>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
       
</body>
</html>